<%= form_for :post, url: search_path, method: :get do |f| %>
  <%= f.text_field :term, list: "list", placeholder: "search field" %>
  <datalist id="caption"></datalist>
  <%= f.submit "Go"%>
<% end -%>

<div class="flex-container">
  <% @posts.each do |post| %>
    <div class="single_post">
      <a href="posts/<%=post.id%>">
        <%= image_tag(post.photo.url) %>
      </a>
      <br>
      <%= post.caption %>
    </div>
  <% end %>
</div>

<% link_to "Home", '/' %>
